<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-route.min.js"></script>
<script src="scripts/script.js"></script>
<script src="scripts/services.js"></script>
<link href="styles/main.css" rel="stylesheet" type="text/css">

<div class="map">

  <h3>Find Delhi Court on map</h3>
  <div ng-controller="stateCtrl">
        <h2>Angular.js JSON Fetching</h2>
    <table>
      <tr>
        <th>Code | </th>
        <th>State |</th>
        <th>No Of Courts</th>
      </tr>
      <tr ng-repeat="s in state">
        <td>{{s.code}}</td>
        <td>{{s.name}}</td>
        <td>{{s.courts}}</td>
      </tr>
    </table>
      </div>
 </div>